header{
    text-align: center;
}
header img{
    width:10%;
    position: relative;
    top:-103px;
    left:-320px;
}
input, textarea, {
    width: 100%;

}
botton{
    width:100%
    background-color:blue;
}

/* ★追加: 投稿カードと画像用のスタイル★ */
.post-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post-image {
    max-width: 100%; /* 投稿の幅を超えないようにする */
    height: auto;
    display: block; /* ブロック要素にして、前後の要素と分離 */
    margin-top: 10px;
    border-radius: 3px;
}












